{
   "parser": "babel-eslint",
   "rules": {
      "semi":"off",
      "arrow-parens":"off",
      "linebreak-style":"off",
      "comma-dangle":"off",
      "require-jsdoc":"off",
      "operator-linebreak":"off"
   },
   "env": {
     "es6": true,
     "browser": true,
     "node": true
   },
   "extends": ["eslint:recommended", "google"]
 }
 