$header-height:40px;
$header-color: #c0c0c0;
$border-color: #eee;
$toolbar-height: 40px;
$formula-height: 40px;
$info-cell-widht: 40px;
$row-height:24px;
$cell-widht:120px;
$db-header-height:64px;
$primary-color:#3c74ff;